html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
body {
  background-color: hsl(233, 47%, 7%);
  color: azure;
  font-family: Inter;
  font-weight: 400;
  word-spacing: 2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.container {
  max-width: 1000px;

  justify-content: space-between;
  display: flex;
  background-color: hsl(244, 38%, 16%);
  border-radius: 20px 20px 20px 20px;
}
.S1 {
  padding: 60px 70px 0px 70px;
}
.wording h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}
.wording h2 span {
  color: hsl(277, 64%, 61%);
}
.wording p {
  font-size: small;
  margin-bottom: 50px;
  color: hsla(0, 0%, 100%, 0.75);
}
.feats {
  display: flex;
  justify-content: space-between;
}
.feat {
  margin-right: 20px;
  display: inline-block;
}
.feat h4 {
  margin: 0;
  padding: 0;
}
.feat p {
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 25px;
  font-size: 10px;
  text-transform: uppercase;
}
.side-image {
  height: 350px;
  background: hsl(277, 74%, 54%);
  filter: brightness(110%);
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}
.side-image img {
  object-fit: cover;
  opacity: 0.6;
}

@media screen and (max-width: 495px) {
  .container {
    max-width: 620px;
    margin: 70px 20px 100px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column-reverse;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
  }
  .side-image {
    border-radius: 10px 10px 0px 0px;
  }
  .S1 {
    display: block;
  }
  .feats {
    display: block;
    margin-bottom: 50px;
  }
  .feat {
    margin-top: 20px;
    display: block;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .container {
    max-width: 920px;
    margin: 70px 20px 100px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column-reverse;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
  }
  .S1 {
    display: block;
  }
  .feats {
    display: block;
    margin-bottom: 50px;
  }
  .feat {
    margin-top: 20px;
    display: block;
  }
  .side-image {
    border-radius: 10px 10px 0px 0px;
  }
  .side-image img {
    width: 900px;
    height: fit-content;
  }
}
